* {
  box-sizing:border-box;
}

body {
  background-color: #000000;
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
 display: inline;
}

.left {
  width:10%;
  left:0%;
}

.main {
  overflow-y:scroll;
  padding-right:20%;
  width:100%;
  height:100%;
  left:10%;
}

.right {
  width:10%;
  left:90%;
}

.left, .right, .main {
  background-color:#000000;
  float:left;
  color: #41FF00;
  font-family: monospace;
  font-size: 16px;
  word-wrap: break-word;
  position: fixed;
  bottom: 5px;
}

@media only screen and (max-width: 520px) {
  .left, .main, .right {
    width:120%;
    left:0%;
    font-size: calc(100vw / 58 * 16 / 9);
  }
}
